services:
  arangodb:
    image: arangodb/arangodb:3.12
    environment:
      ARANGO_ROOT_PASSWORD: changeme
    ports:
      - '8529:8529'
    volumes:
      - arango_data:/var/lib/arangodb3
      - arango_apps:/var/lib/arangodb3-apps

volumes:
  arango_data:
  arango_apps:
